.button_type_return-back {
  width: 30px;
  height: 30px;
  background-color: inherit;
  position: absolute;
  top: 7px;
  left: 7px;
  border-radius: 50%;
  padding: 3px;
}

.button_type_return-back:hover {
  background-color: var(--auth-accent-color-v3);
}
