.profile__avatar {
  height: 48px;
  width: 48px;
  border: 1px solid var();
  background-size: cover;
  background-position: center;
  border-radius: 100%;
  background-image: url(../../image/avatar.jpg);
  border-radius: 50%;
}
