.form__wrapper {
  /* padding: 10px 0 0 0; */
}

.form__content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* .form__information {
  margin: 0 0 10px 0;
} */

.form__title {
  font-size: 30px;
}

.form__label {
  display: flex;
  flex-direction: column;
  cursor: default;
  gap: 3px;
}

.form__input-wrapper {
  position: relative;
  cursor: text;
}

.form__input-title {
  cursor: text;
  align-self: flex-start;
  font-size: 18px;
}

.form__input {
  position: relative;
  z-index: 1;
  padding: 0;
  padding: 19px 5px 7px 15px;
  width: 100%;
  border: 2px solid var(--auth-accent-color-v1);
  border-radius: 10px;
  font-family: var(--auth-accent-color-v2);
  font-size: 20px;
  background-color: inherit;
}

.form__input:focus {
  border-color: var(--auth-accent-color-v2);
}

.form__placeholder {
  position: absolute;
  z-index: 0;
  color: var(--auth-input-placeholder-color)
}

.form__input-wrapper .form__input:focus ~ .form__placeholder,
.form__input-wrapper .form__input:not(:placeholder-shown) ~ .form__placeholder {
  inset: 5px 5px;
  font-size: 13px;
}

.form__placeholder {
  inset: 15px 15px;
  font-size: 21px;
  transition: font-size 0.28s ease-out, inset 0.28s ease-out;
}

.form__errors {
  color: var(--auth-error-color);
}

.form__button {
  width: 100%;
  padding: 10px 3px;
  align-self: center;
  font-size: 18px;
  border-radius: 10px;
}

.form_type_confirm-email {
  flex-grow: 1;
}

