.header {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: clamp(240px, 25%, 350px) 1fr;
  grid-template-rows: auto;
  justify-items: center;
  align-items: end;
  padding: 10px 15px;
  background-color: var(--highlight-bg-color);
  grid-template-areas:
  "logo control";
}

.header__logo {
  grid-area: logo;
  width: calc(100% - 20px);
}

.header__control {
  grid-area: control;
  display: flex;
  width: 100%;
  align-self: flex-end;
  gap: 15px;
}

.header__search {
  flex-grow: 1;
  padding: 0 15px 0 25px;
  min-inline-size: 200px;
  align-self: flex-end;
}

.header__navigation {
  align-self: flex-end;
  padding: 0 0 0 10px;
}

.header__list {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.header__link {
  display: inline-block;
  position: relative;
  padding: 0 0 0 15px;
  font-size: 18px;
  color: var(--main-text-color);
}

.header__link::before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  top: 8px;
  left: 2px;
  border: 1px solid currentColor;
  border-radius: 100%;
}

.header__link:hover::before {
  background-color: currentColor;
}

.header__link_type_active::before {
  background-color: currentColor;
}

.header__auth {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px
}

.header__button {
  min-width: 75px;
  min-height: 40px;
  border-radius: 20px;
  text-wrap: nowrap;
  font-size: 18px;
}

.header__button_login {
  background-color: inherit;
  transition: background-color 0.3s;
}

.header__button_login:hover {
  background-color: var(--dim-highlight-color);
}

.header__button_signup {
  background-color: var(--actien-color);
}

.header__bell {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
