.header {
  position: sticky;
  z-index: 10;
  top: 0;
  display: grid;
  grid-template-columns: clamp(240px, 25%, 350px) 1fr;
  grid-template-rows: auto;
  justify-items: center;
  align-items: end;
  padding: 10px 15px;
  background-color: var(--header-main-bg-color);
  grid-template-areas:
  "logo control";
}

.header__logo {
  grid-area: logo;
  width: calc(100% - 20px);
}

.header__control {
  grid-area: control;
  display: flex;
  width: 100%;
  align-self: flex-end;
  gap: 15px;
}

.header__search {
  flex-grow: 1;
  padding: 0 15px 0 25px;
  min-inline-size: 200px;
  align-self: flex-end;
}

.header__navigation {
  align-self: flex-end;
  padding: 0 0 0 10px;
}

.header__list {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.header__link_type_active::before {
  background-color: currentColor;
}

.header__auth {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px
}

.header__button {
  min-width: 75px;
  min-height: 40px;
  border-radius: 20px;
  text-wrap: nowrap;
  font-size: 18px;
}

.header__button_login {
  background-color: inherit;
}

.header__button_login:hover {
  background-color: var(--header-button-bg-color-v1);
}

.header__button_signup {
  color: var(--header-button-text-color);
  background-color: var(--header-button-bg-color-v2);
}

.header__button_signup:hover {
  background-color: var(--header-button-bg-color-v3);
}

.header__bell {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.header__link_type_avatar {
  height: 48px;
  width: 48px;
}
