.search__container {
  position: relative;
  /* padding: 10px 5px 10px 15px; */
  border: 2px solid var(--form-accent-color);
  border-radius: 10px;
  transition: border-color 0.2s;
}

.search__button_type_clear {
  position: absolute;
  padding: 0;
  right: 5px;
  top: calc(50% - 14px);
  background-color: inherit;
}

.search__button_type_clear:hover {
  --icon-close-color: var(--icon-close-color-hover);
}

.search__button_type_clear:focus-visible {
  outline: none;
}

.search__input {
  width: calc(100% - 30px);
  border: none;
  background-color: inherit;
  font-size: 20px;
  padding: 10px 5px 10px 15px;
}

.search__container:focus-within {
  border-color: var(--actien-color-hover);
}
