.topic__container {
  display: flex;
  flex-direction: column;
  min-height: 135px;
  /* min-height: 100vh; */
}

.topic__outside {
  display: flex;
  padding: 3px 5px;
  justify-content: space-between;
}

.topic__owner {
  color: var(--actien-color);
  font-size: 16px;
  font-style: italic;
  font-weight: 700;
}

.topic__content {
  flex-grow: 1;
  display: grid;
  grid-template: auto 1fr / 1fr 40px;
  gap: 2px;
  padding: 8px;
  background-color: var(--topic-catalog-bg-color);
  border-radius: 10px;
  font-size: 14px;
  grid-template-areas:
  'title title'
  'description .';
}

.topic__title {
  grid-area: title;
  font-size: 26px;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.topic__description {
  grid-area: description;
  display: -webkit-box;
  padding: 2px 0 0 0;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--topic-description-color);
  font-size: 16px;
}

.topic__tags-list {
  display: flex;
  justify-content: end;
  gap: 5px;
}
