.topic__container {
  width: 100%;
}

.topic__content {
  position: relative;
  min-height: 160px;
  display: grid;
  grid-template: auto 1fr / 1fr minmax(20px, auto);
  gap: 10px 5px;
  background-color: var(--topic-catalog-bg-color);
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
  grid-template-areas:
  'information .'
  'detailed detailed';
}

.topic__management {
  position: absolute;
  right: 3px;
  top: 3px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  padding: 2px;
  transition: background-color 0.1s;
  background-color: inherit;
}

.topic__management:hover {
  background-color: rgb(255, 244, 91);
}

.topic__information {
  grid-area: information;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px 0 0 5px;
  overflow: hidden;
}

.topic__title {
  display: inline-block;
  width: 100%;
  font-size: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.topic__description-wrapper {
  width: 100%;
}

.topic__description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--topic-description-color);
  font-size: 14px;
}

.topic__detailed {
  grid-area: detailed;
  gap: 20px;
  display: flex;
  align-items: end;
}

.topic__link_type_owner {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  color: var(--actien-color);
  font-size: 16px;
  font-style: italic;
  font-weight: 700;
}

.topic__tags-list {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: flex-end;
  gap: 2px;
  justify-content: flex-end;
}

.topic__tag {
  align-self: flex-end;
}

.topic__avatar {
  border: 2px solid;
  border-radius: 50%;
  width: 38px;
  height: 38px;
}
