@import url(./variables.css);
@import url(./global.css);
@import url(./modules/form.css);
@import url(./modules/footer.css);

.page {
  height: 100vh;
}

.page__wrapper {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--main-bg-color);
}

.main {
  flex-grow: 1;
}

.auth {
  display: flex;
  max-width: 350px;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.auth__logo {
  width: 70%;
  padding: 0 10px 10px;
  align-self: flex-start;
}

.auth__content {
  padding: 30px;
  border: 1px solid var(--form-border-color);
  border-radius: 15px;
  background-color: var(--actient-bg-color);
}

.auth__control {
  display: flex;
  margin: 13px 0 0 0;
  justify-content: space-between;
  font-size: 13px;
}

.auth__button {
  background-color: inherit;
  color: var(--form-accent-color)
}

.auth__button:hover,
.auth__button:focus {
  color: var(--form-accent-color-hover)
}

.confirm-mail {
  display: none;
}

.confirm-mail__title {
  margin: 0 0 10px;
  font-size: 40px;
}

.confirm-mail__description {
  text-wrap: no-wrap;
  font-size: 30px;
}

.confirm-mail.confirm-mail__message_visible {
  visibility: visible;
}

.logo {
  font-size: 40px;
}
