.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, Arial, sans-serif);
}

.header {

}

.footer {

}

.logo {
  font-family: var(--actien-font), sans-serif;
}

.hidden{
  display: none;
}

.logo__container {
  width: 100%;
}

.button {
  border: none;
  padding: 0;
}

.button,
.link {
  cursor: pointer;
}

.button,
.input,
.link {
  font-family: var(--main-font);
}

.link {
  color: var(--main-color);
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.link:focus-visible,
.button:focus-visible {
  outline: 3px solid var(--outline-color);
}

.button_color_green {
  background-color: var(--form-accent-color);
  color: var(--main-button-color);
  transition: background-color 0.3s;
}

.button_color_green:hover,
.button_color_green:focus {
  background-color: var(--form-accent-color-hover);
}

.button_color_yellow {
  background-color: var(--highlight-color);
  transition: background-color 0.3s;
}

.button_color_yellow:hover,
.button_color_yellow:focus {
  background-color: var(--dim-highlight-color);
}

.font-weight_type_bold {
  font-weight: 700;
}

.border-radius_type_small {
  border-radius: 10px;
}


.tag__button {
  font-size: 14px;
  background-color: var(--tag-bg-color);
  border: none;
  padding: 3px;
  border-radius: 3px;
  color: var(--tag-text-color);
  transition: background-color 0.1s;
}

.tag__button:hover {
  background-color: var(--tag-bg-color-hover);
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; /* Убираем крестик в Chrome, Safari */
}

input[type="search"]::-ms-clear {
  display: none; /* Убираем крестик в Edge */
}
