.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, Arial, sans-serif);
}

.header {

}

.footer {

}

.logo {
  font-family: var(--actien-font), sans-serif;
}

.hidden{
  display: none;
}

.logo__container {
  width: 100%;
}

.button,
.link {
  cursor: pointer;
}

.button,
.input,
.link {
  font-family: var(--main-font);
}

.link {
  color: var(--main-color);
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.button:focus-visible {
  outline: 3px solid var(--outline-color);
}

.button_color_green {
  background-color: var(--form-accent-color);
  color: var(--main-button-color);
  transition: background-color 0.3s;
}

.button_color_green:hover,
.button_color_green:focus {
  background-color: var(--form-accent-color-hover);
}

.button_color_yellow {

}

