@import url(./common/variables.css);
@import url(./common/themes.css);
@import url(./common/global.css);
@import url(./modules/header.css);
@import url(./modules/footer.css);
@import url(./modules/topic.css);
@import url(./components/search.css);
@import url(./components/avatar.css);

.page {
  display: flex;
  flex-direction: column;
  background-color: var(--index-main-bg-color);
}

.main__wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.main {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 20px;
  grid-template-areas:
  'navigator content__wrapper';
}

.content {
  grid-area: content__wrapper;
  border: 2px solid var(--index-main-border-color);
  border-radius: 15px;
  width: clamp(370px, 60vw, 900px);
}

.navigator {
  grid-area: navigator;
  padding: 0 60px 0 0;
}

.navigator__container {
  display: flex;
  position: sticky;
  top: 93px;
  padding: 30px 0 0 0;
  justify-content: right;
}

.navigator__list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 20px;
}

.navigator__list-item {
  display: block;
  background-color: inherit;
}

.navigator__link {
  display: block;
  padding: 5px 8px;
  border-radius: 5px;
  transition: background-color 0.1s;
  color: currentColor;
}

.navigator__link_type_active {
  font-weight: 700;
}

.navigator__link:hover {
  background-color: var(--index-navigation-element-bg-color);
}

.navigator__link_type_active {
  background-color: var(--index-navigation-element-bg-color);
  font-weight: 700;
}

.topics__header {
  background-color: var(--index-actient-bg-color);
  border-radius: 10px 10px 0 0;
  padding: 15px;
}

.topics__title {
  font-size: 32px;
  margin-bottom: 15px;
}

.topics__controls {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 30px;
}

.topics__button-partitions {
  display: flex;
  gap: 5px;
  border-radius: 20px;
  padding: 3px 3px;
  background-color: var(--partitions-bg-color-v2);
}

.topics__button_type_partitions {
  border-radius: 20px;
  padding: 5px 10px;
  background-color: inherit;
  transition: background-color 0.1s;
}

.topics__button_type_partitions:hover {
  background-color: var(--partitions-bg-color-v3);
}

.topics__button_type_partitions.topics__button_type_partitions_active {
  background-color: var(--partitions-bg-color-v1);
  font-weight: 700;
  cursor: default;
}

.topics__button_type_create-topic {
  height: 100%;
  border-radius: 10px;
  padding: 8px 15px;
  font-size: 18px;
  min-width: 135px;
  background-color: var(--partitions-bg-color-v1);
  transition: background-color 0.3s;
}

.topics__button_type_create-topic:hover {
  background-color: var(--partitions-bg-color-v4);
}

.topics__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}
