@import url(./variables.css);
@import url(./global.css);
@import url(./modules/header.css);
@import url(./modules/footer.css);
@import url(./modules/topic.css);
@import url(./modules/search.css);

.page {
  height: 100vh;
  background-color: var(--main-bg-color);
}

.page__wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  background-color: var(--main-bg-color);
}

.main {
  flex-grow: 1;
  display: grid;
  --catalog-list-width: clamp(355px, 50%, 600px);
  grid-template: auto 1fr / auto var(--catalog-list-width);
  justify-content: center;
  grid-template-areas:
  'controls controls'
  'navigator content__wrapper';
}

.navigator {
  grid-area: navigator;
  padding: 0 60px 0 0;
  border-right: 2px solid var(--topic-list-border-color);
}

.navigator__container {
  display: flex;
  position: sticky;
  top: 60px;
  padding: 60px 0 0 0;
  justify-content: right;
}

.navigator__list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 20px;
}

.navigator__list-item {
  display: block;
  background-color: inherit;
}

.navigator__link {
  display: block;
  padding: 5px 8px;
  border-radius: 5px;
  background-color: var(--navigation-el-background-color);
  transition: background-color 0.1s;
}

.navigator__link:hover {
  background-color: var(--navigation-el-background-color-hover);
}

.navigator__link_type_active {
  background-color: var(--navigation-el-background-color-hover);
  font-weight: 700;
}

.content__wrapper {
  grid-area: content__wrapper;
  padding: 0 0 0 60px;
  background-color: inherit;
}

.controls {
  grid-area: controls;
  display: flex;
  position: sticky;
  top: 0;
  padding: 20px 0 10px 0;
  align-items: end;
  gap: 10px;
  background-color: var(--main-bg-color);
}

.controls__search {
  grid-area: search;
  flex-grow: 1;
}

.controls__button_type_create-topic {
  height: 100%;
  border-radius: 10px;
  background-color: var(--button-main-bg-color);
  font-size: 18px;
}

.topics__list {
  display: grid;
  grid-auto-rows: 100px; /* Размер топики в высоту на главной странице */
  gap: 5px
}
